.menu-5-bg {
    background: #252323;
}


.meun5-navbar-bg {
    background-color: #252323;

}

.menu5-home-bg img {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
}


#menu5-veg,
#menu5-non-veg {
    padding: 20px 10px 10px 10px;
    margin: 8px;
    border: none;
    height: 30px;
    width: 30px;
    background: #D3C9C9;
    border-radius: 7px;
    margin-top: 20px;
    position: relative;
}


#menu5-veg span,
#menu5-non-veg span {
    background-color: transparent;
    position: absolute;
    top: 10px;
    left: 8px;
}

#menu5-veg span {
    color: #2FD820;

}

#menu5-non-veg span {
    color: #D71919;
}


.menu5-item-bag {
    height: 700px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 120px;
    position: relative;
    margin-top: 60px;
}

.menu5-item-bag-1,
.menu5-item-bag-2 {
    height: 650px;
    width: 45%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.menu5-item-bag-2 {
    /* background-color: red; */
    height: 600px;
    margin-top: -40px;

}

.menu5-heading-3 {
    color: white;
    margin-left: 150px;
    font-size: 2.2rem;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.menu5-item-bag-1::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #F6FA11;
}

.menu5-item-1,
.menu5-item-2,
.menu5-item-3,
.menu5-item-4,
.menu5-item-5,
.menu5-item-6 {
    height: 120px;
    width: 100%;
    /* background-color: #3cb521; */
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: 2px 0px;
}

.extra {
    height: 350px;
    padding: 0px;
    /* margin-top: -60px; */
}

#menu5-item-bag-heading {
    color: white;
    font-size: 1.5rem;
    display: inline;
    height: 60px;
    width: 450px;
    text-transform: uppercase;
    margin-left: 20px;
    /* background-color: red; */
}

#menu5-item-bag-heading span {
    background-color: transparent;
    color: #F6FA11;
}

.menu5-item-1 #add-btn,
.menu5-item-2 #add-btn,
.menu5-item-3 #add-btn,
.menu5-item-4 #add-btn,
.menu5-item-5 #add-btn,
.menu5-item-6 #add-btn {
    /* background-color: transparent; */

    background: #CB5F5F;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    font-size: 1.5rem;
    color: white;
    border: none;
}

#menu5-increment {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    padding-top: 15px;
}

#menu5-increment span {
    background-color: transparent;
    /* padding: 0px; */
    margin-top: 15px;
    font-size: .95rem;
}

.icon {
    height: 40px;
    width: 100%;
    /* background-color: red; */
    margin-top: 30px;
}

.icon span {
    /* background-color: red; */
    color: white;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.moblie-heading-1,
.menu5-item-img,
#menu5-line {
    display: none;
}


@media screen and (max-width:425px) {

    .menu5-home-bg img {
        height: 250px;
        margin-top: 10px;
    }


    .moblie-heading-1 {
        display: block;
        height: 35px;
        width: 80px;
        background-color: #D16E43;
        border-radius: 10px;
        margin-left: 180px;
    }


    .moblie-heading-1 p {
        font-size: .95rem;
        padding-left: 8px;
        padding-top: 11px;
        color: white;
    }

    .menu5-item-bag {
        height: 2500px;
        /* background-color: red; */
        margin-top: 40px;
        flex-direction: column;
        gap: -40px;
    }


    .menu5-item-bag-1,
    .menu5-item-bag-2 {
        height: 1510px;
        width: 100%;
        /* background-color: yellow; */
    }

    .menu5-item-bag-2 {
        height:750px;
    }

    #menu5-line {
        display: block;
        width: 100%;
        height: 2px;
        margin-top: 10px;
        /* margin-bottom: 9px; */
        background-color: #F6FA11;
    }


    .menu5-item-1,
    .menu5-item-2,
    .menu5-item-3,
    .menu5-item-4,
    .menu5-item-5,
    .menu5-item-6 {
        height: 220px;
        /* background-color: green; */
    }

    #menu5-item-bag-heading {
        font-size: .70rem;
        margin-top: -50px;
    }

    .menu5-item-img {
        display: block;
    }

    .menu5-item-img img {
        /* display: block; */
        height: 130px;
        width: 130px;
        margin-right: 10px;
        margin-top: 18px;
    }

    #menu5-veg,
    #menu5-non-veg {
        margin-top: -70px;
        /* margin-left: -45px; */
        right: 10px;
        height: 18px;
    }

    #menu5-veg span,
    #menu5-non-veg span {
        top: 8px;
        left: 5px;
    }

    #menu5-increment {
        display: block;
        border-radius: 5px;
        height: 25px;
        width: 50px;
        padding-top: 3px;
        padding-left: 5px;
        float: right;
        position: absolute;
        /* display: inline-flex; */
        font-size: .80rem;
        margin-right: -280px;
        margin-top: 140px;
        background-color: white;
    }

    .menu5-heading-3 {
        height: 35px;
        border-radius: 10px;
        width: 160px;
        background-color: #CB5F5F;
    }

    .menu5-heading-3 p {
        padding-left: 10px;
        padding-top: 11px;
        font-size: 1rem;
    }
    .extra {
      height: 250px;
    }

    .menu5-item-1 #add-btn,
    .menu5-item-2 #add-btn,
    .menu5-item-3 #add-btn,
    .menu5-item-4 #add-btn,
    .menu5-item-5 #add-btn,
    .menu5-item-6 #add-btn,
    .menu5-item-bag-1::after,
    .icon {
        display: none;
    }





}