@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');




.navbar-bg-black {
    background-color: black;

}




#forget-heading {
    color: black;
    font-size: 2rem;
    font-family: Josefin Sans;
    font-weight: 700;
    /* line-height: 35px; */
    text-align: right;
    margin-right: 350px;
    margin-top: 150px;

}

.forget-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 40px;
}



.forget-img img {
    width: 100%;
    height: 400px;
    /* display: inline; */
}

.forget-section {
    /* display: inline; */
    /* background: blue; */
    height: 380px;
    width: 40%;
    border: 2px solid black;
}

#forget-1-text {
    font-family: Josefin Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    color: #D16E43;
    padding: 20px;
    margin-top: 10px;
}

.forget-section input {
    height: 55px;
    width: 62%;
    margin-left: 105px;
    margin-top: 30px;
    background: #D9D9D9;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
}

.forget-section input[type="text"] {
    font-size: 1.2rem;
    color: #4A4747BF;
    padding-left: 15px;
    font-weight: 600;

}

.forget-section button {
    height: 50px;
    width: 62%;
    margin-left: 105px;
    margin-top: 20px;

    background: #F0AD90;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.5rem;
    /* margin-top: 10px; */
    font-weight: 600;

}

.forget-section button:hover {
  transform: scale(1.03);
  cursor: pointer;

}

.forget-section a {
    color: black;

}
#forget-2-text {
    font-family: Josefin Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 40px;


}


@media screen and (max-width:425px) {



    #forget-heading {
        font-size: .90rem;
        margin-top: 40px;
        margin-right: 50px;

    }

    .forget-img img {
        height: 180px;

    }

    .forget-section {
        /* display: inline; */
        /* background: blue; */
        height: 280px;
        width: 58%;
    }

    #forget-1-text {

        font-size: 12px;
        line-height: 10px;

    }

    .forget-section input {
        height: 35px;
        width: 90%;
        margin-top: 25px;
        margin-left: 10px;

    }

    .forget-section input[type="text"] {

        font-size: .90rem;
    }

    .forget-section button {
        height: 35px;
        width: 50%;
        margin-left: 65px;
        font-size: 1.1rem;
        text-align: center;


    }

    #forget-2-text {
        font-size: 15px;
        font-weight: 700;
        line-height: 15px;
        margin-top: 25px;

    }



}